// // /* Dòng group KPI */
// // .sticky-group-row {
// //   position: sticky;
// //   left: 0;
// //   z-index: 5;
// //   background: #e6f4ff;
// // }

// // /* Dòng tổng trọng số */
// // .sticky-total-row {
// //   position: sticky;
// //   left: 0;
// //   z-index: 4;
// //   background: #fff7e6;
// // }

// // /* Nội dung */
// // .kpi-group-row {
// //   font-size: 17px;
// //   font-weight: 600;
// //   text-align: center;
// //   color: #0958d9;
// // }

// // .kpi-total-row {
// //   font-size: 15px;
// //   font-weight: 600;
// // }

// .kpi-fake-sticky {
//   position: sticky;
//   top: 0;
//   z-index: 10;
//   background: #fff;
//   padding: 8px 12px;
//   border-bottom: 1px solid #e5e7eb;
// }

// .kpi-summary-row {
//   display: flex;
//   justify-content: space-between;
//   font-weight: 600;
//   padding: 4px 0;
// }

// .kpi-summary-row.total {
//   margin-top: 6px;
//   padding-top: 6px;
//   border-top: 1px dashed #d9d9d9;
//   color: #d46b08;
// }
