@import '../_colors.scss';

.ho-so-ns-page {
  border-radius: 4px;
  background-color: $white;
  padding: 16px;

  .content {
    margin-top: 16px;

    .header {
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 0.5em;
    }

    .container {
      display: flex;
      flex-direction: column;
      margin-top: 16px;
      row-gap: 20px;

      .ant-card-bordered {
        border-color: $gray;

        .ant-card-head {
          background-color: #efefef;
          text-transform: uppercase;
          min-height: 44px;
          padding: 0 12px;
        }

        .field {
          display: flex;
          gap: 4px;
          color: #667580;

          .label {
            font-weight: 400;
          }

          .value {
            font-weight: 700;
          }
        }
      }
    }
  }
}