$primary: #1976D2;
$primaryLight: #2196F3;
$primaryNavy: #0D47A1;
$primaryNavyDark: #002147;
$white: #FFFFFF;
$grayLight: #F5F5F5;
$gray: #9E9E9E;
$black: #212121;
$blueDark: #263238;
$red: #D32F2F;
$redDark: #B71C1C;
$orange: #FFA000;
$yellow: #FFC107;
$green: #388E3C;