@tailwind base;
@tailwind components;
@tailwind utilities;
@import './colors';

:root {
  --font-roboto: 'Roboto', sans-serif;
}

/* Theme light */
.light {
  --background: #F5F5F5;
  --foreground: #171717;
  --background-header: #0D47A1;

  .ant-spin-fullscreen {
    background-color: rgba(255, 255, 255, 0.6) !important;

    .ant-spin-dot-item {
      color: var(--foreground);
    }

    .ant-spin-text {
      color: var(--foreground) !important;
    }
  }
}

/* Theme dark */
.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --background-header: #eff4fc;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-roboto);

  // ngăn người dùng bôi đen
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.tag-status {
  padding: 2px 8px;
  font-size: 12px;
  border-radius: 6px;
  font-weight: 500;
  display: inline-block;
  text-align: center;
  min-width: 80px;
}

.light {
  .tag-init {
    @extend .tag-status;
    background-color: #E3F2FD; 
    color: #0D47A1;
  }

  .tag-cancel {
    @extend .tag-status;
    background-color: #FFEBEE; 
    color: #C62828;
  }

  .tag-edit {
    @extend .tag-status;
    background-color: #FFF8E1; 
    color: #EF6C00;
  }
}

.dark {
  .tag-init {
    @extend .tag-status;
    background-color: rgba(33, 150, 243, 0.15);
    color: #64B5F6;
  }

  .tag-cancel {
    @extend .tag-status;
    background-color: rgba(244, 67, 54, 0.15);
    color: #e57373;
  }

  .tag-edit {
    @extend .tag-status;
    background-color: rgba(255, 193, 7, 0.15);
    color: #ffeb3b;
  }
}
