@tailwind base;
@tailwind components;
@tailwind utilities;
@import './colors';

:root {
  --font-roboto: 'Roboto', sans-serif;
}

/* Theme light */
.light {
  --background: #f5f5f5;
  --foreground: #171717;
  --background-header: #0d47a1;

  .ant-spin-fullscreen {
    background-color: rgba(255, 255, 255, 0.6) !important;

    .ant-spin-dot-item {
      color: var(--foreground);
    }

    .ant-spin-text {
      color: var(--foreground) !important;
    }
  }
}

/* Theme dark */
.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --background-header: #eff4fc;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-roboto);

  // ngăn người dùng bôi đen
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// khóa scroll toàn màn hình
body,
html {
  height: 100%;
  overflow: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.tag-status {
  padding: 2px 8px;
  font-size: 12px;
  border-radius: 6px;
  font-weight: 500;
  display: inline-block;
  text-align: center;
  min-width: 80px;
}

.light {
  .tag-init {
    @extend .tag-status;
    background-color: #e3f2fd;
    color: #0d47a1;
  }

  .tag-cancel {
    @extend .tag-status;
    background-color: #ffebee;
    color: #ff0303;
  }

  .tag-edit {
    @extend .tag-status;
    background-color: #fff8e1;
    color: #ef6c00;
  }
  .tag-done {
    @extend .tag-status;
    background-color: #e8f5e9;
    color: #2e7d32;
  }

  .tag-reception {
    @extend .tag-status;
    background-color: #fff3e0;
    color: #ef6c00;
  }

  .tag-propose {
    @extend .tag-status;
    background-color: #f3e5f5;
    color: #6a1b9a;
  }
  .tag-approve {
    @extend .tag-status;
    background-color: #ffe0f0;
    color: #d81b60;            
  }
}

.dark {
  .tag-init {
    @extend .tag-status;
    background-color: rgba(33, 150, 243, 0.15);
    color: #64b5f6;
  }

  .tag-cancel {
    @extend .tag-status;
    background-color: rgba(244, 67, 54, 0.15);
    color: #e57373;
  }

  .tag-edit {
    @extend .tag-status;
    background-color: rgba(255, 193, 7, 0.15);
    color: #ffeb3b;
  }
  .tag-done {
    @extend .tag-status;
    background-color: rgba(76, 175, 80, 0.15);
    color: #81c784;
  }

  .tag-reception {
    @extend .tag-status;
    background-color: rgba(255, 152, 0, 0.15);
    color: #ffb74d;
  }
  .tag-approve {
    @extend .tag-status;
    background-color: rgba(216, 27, 96, 0.15); 
    color: #f48fb1;                            
  }
}
.hover-box:hover {
  background: #f5f5f5;
  border: 1px solid #d9d9d9;
}

.voice-fixed-wrapper {
  position: fixed;
  bottom: 24px;        
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;

  display: flex;
  justify-content: center;
  align-items: center;

  pointer-events: none; 
}

.voice-fixed-wrapper * {
  pointer-events: auto;
}

