@tailwind base;
@tailwind components;
@tailwind utilities;
@import './colors';

:root {
  --font-roboto: 'Roboto', sans-serif;
}

/* Theme light */
.light {
  --background: #ffffff;
  --foreground: #171717;
  --background-header: #e1e8f8;

  .ant-spin-fullscreen {
    background-color: rgba(255, 255, 255, 0.6) !important;

    .ant-spin-dot-item {
      color: var(--foreground);
    }

    .ant-spin-text {
      color: var(--foreground) !important;
    }
  }
}

/* Theme dark */
.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --background-header: #eff4fc;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-roboto);

  // ngăn người dùng bôi đen
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
