@import './_colors.scss';

.role-menu {
  font-weight: 500;
  overflow: auto;
  height: 90vh;
  position: sticky;
  inset-inline-start: 0;
  top: 0;
  bottom: 0;
  scrollbar-width: thin;
  scrollbar-gutter: stable;
}

.menu-core {
  font-weight: 500;

  .menu-title {
    display: flex;
    align-items: center;
    gap: 8px;
    color: $primary;
    font-weight: 600;
    font-size: 18px;
    overflow: hidden;
    transition: all 0.3s ease; // mượt hơn

    .menu-icon {
      font-size: 20px;
    }

    .menu-text {
      margin-left: 4px;
    }

    &.collapsed {
      display: none;
    }
  }

  // Khi hover submenu đã active
  .ant-menu-submenu-selected > .ant-menu-submenu-title:hover {
    color: $white !important;
    background-color: $primaryLight !important;
  }

  .ant-menu-submenu > .ant-menu-submenu-title:hover {
    color: $white !important;
  }
}
