@import './colors';

.ant-popover-content {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .ant-popover-inner {
    padding: 12px 4px 12px 12px !important;
  }
}

.notification-popup-content {
  flex: 1;
  max-height: 350px;
  overflow-y: auto;

  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;

  .notification-header,
  .notification-footer {
    /* Giữ nguyên kích thước, không bị co */
    flex-shrink: 0;
  }

  .notification-header {
    font-size: 16px;
    padding: 8px;

    p {
      font-weight: 700;
    }
  }

  .notification-body {

    background-color: transparent;

    :hover {
      background-color: $grayLight !important;
    }

    .notification-item {
      display: flex;
      align-items: center;
      width: 100%;
      cursor: pointer;

      &.unread {
        .notification-content {
          .notification-title {
            font-weight: 500;
          }
        }

        .dot {
          margin-left: 4px;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: red;
        }

      }

      &.small {
        border-top: dashed 1px $gray;
        gap: 4px;

        .notification-content {
          display: flex;
          flex-direction: column;
          width: 250px;
          margin-bottom: 8px;
          padding: 4px 0;


          .notification-title {
            font-size: 13px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            line-clamp: 2;
            -webkit-line-clamp: 2;
            margin-bottom: 4px;
          }

          .notification-timestamp {
            color: $gray;
            font-size: 11px;
            font-weight: 400;
          }
        }
      }





    }
  }

  .notification-footer {
    text-align: center;
    cursor: pointer;
    color: $primary;
    font-weight: 600;
    font-size: 16px;
  }
}

.notification-page {


  .notification-list {
    flex: 1;
    max-height: 600px;
    overflow-y: auto;

    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent;

    background-color: transparent;

    :hover {
      background-color: $grayLight !important;
    }

    .notification-item {
      display: flex;
      align-items: center;
      width: 100%;
      cursor: pointer;

      &.unread {
        .notification-content {
          .notification-title {
            font-weight: 500;
          }
        }

        .dot {
          margin-left: 4px;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: red;
        }

      }



      &.large {
        gap: 16px;
        padding: 12px 8px;
        border-bottom: solid 1px $grayLight;
        position: relative;

        .notification-content {
          display: flex;
          flex-direction: column;
          cursor: pointer;

          .notification-title {
            font-size: 14px;
            overflow: hidden;
          }

          .notification-timestamp {
            color: $gray;
            font-size: 12px;
            font-weight: 400;
          }
        }

        &.unread {
          background-color: #f0f6ff;

          .dot {
            position: absolute;
            top: 8px;
            right: 12px;
          }

        }

      }
    }
  }


}