@import './colors';

.ant-popover-content {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .ant-popover-inner {
    padding: 12px 4px 12px 12px !important;
  }
}

.notification-popup-content {
  flex: 1;
  max-height: 350px;
  overflow-y: auto;

  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

.notification-header,
.notification-footer {
  /* Giữ nguyên kích thước, không bị co */
  flex-shrink: 0;
}

.notification-header {
  font-size: 16px;
  padding: 8px;

  p {
    font-weight: 700;
  }
}

.notification-body {


  .notification-component-item {
    &.small {
      display: flex;
      align-items: center;
      gap: 4px;
      border-top: dashed 1px $gray;
      background-color: transparent;

      :hover {
        background-color: $grayLight;
      }

      .notification-content {
        display: flex;
        flex-direction: column;
        width: 250px;
        margin-bottom: 8px;
        padding: 4px 0;
        cursor: pointer;

        .notification-title {
          font-size: 13px;
          font-weight: 400;
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          line-clamp: 2;
          -webkit-line-clamp: 2;
        }

        .notification-timestamp {
          color: $gray;
          font-size: 11px;
          font-weight: 400;
        }
      }

      &.unread {
        .notification-content {
          .notification-title {
            font-weight: 500;
          }
        }

        .dot {
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: red;
        }
      }
    }
  }
}

.notification-footer {
  text-align: center;
  cursor: pointer;
  color: $primary;
  font-weight: 600;
  font-size: 16px;
}